body {
  background: url('https://images.unsplash.com/photo-1562155618-e1a8bc2eb04f?q=80&w=2982&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.App {
  text-align: center;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 10px;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-size: 2rem;
}
